---
import "../styles/global.css";
import { Font } from "astro:assets";
import FallbackImage from "@assets/og-fallback.png";
import type { ImageMetadata } from "astro";
import { SITE_TITLE } from "../consts";

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
}

const { title, description, image = FallbackImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const fullTitle = `${title} | ${SITE_TITLE}`;
const imageURL = new URL(image.src, Astro.url);
---

<Font cssVariable="--font-satoshi" preload/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<link rel="sitemap" href="/sitemap-index.xml"/>
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={new URL("rss.xml", Astro.site)}/>
<link rel="canonical" href={canonicalURL}/>
<meta name="generator" content={Astro.generator}/>

<title>{fullTitle}</title>
<meta name="description" content={description}/>

<meta property="og:type" content="website"/>
<meta property="og:url" content={Astro.url}/>
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:image" content={imageURL}/>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:url" content={Astro.url}/>
<meta name="twitter:title" content={title}/>
<meta name="twitter:description" content={description}/>
<meta name="twitter:image" content={imageURL}/>

<script defer src="https://stats.webkulig.pl/script.js" data-website-id="ad917dc5-1c57-4be6-918c-14d6321c406f"/>
