---
import { Image } from "astro:assets";
import Logo from "@assets/logo.svg";
import { SITE_TITLE } from "../consts";

const today = new Date().getFullYear();

const menu = [
	{ title: "Lokalizacja", href: "/#lokalizacja" },
	{ title: "Opinie", href: "/#opinie" },
	{ title: "Apartamenty", href: "/apartamenty" },
	{ title: "Blog", href: "/blog" },
];
---

<footer class="bg-white dark:bg-gray-900">
    <div class="container mx-auto p-4 md:py-8">
        <div class="flex items-center justify-between">
            <a href="/">
                <Image src={Logo} alt={SITE_TITLE} class="w-12 dark:hidden" loading="lazy"/>
                <strong class="hidden dark:inline text-white">{SITE_TITLE}</strong>
            </a>

            <ul class="flex flex-wrap items-center mb-0 text-sm text-gray-500 dark:text-gray-400">
                {menu.map((item) => (
                    <li>
                        <a href={item.href} class="hover:underline me-4 md:me-6">{item.title}</a>
                    </li>
                ))}
            </ul>
        </div>
        <hr class="my-2 border-gray-200 mx-auto dark:border-gray-700 lg:my-4" />
        <span class="block text-sm text-gray-500 text-center dark:text-gray-400">&copy; {today} {SITE_TITLE}. Wszelkie prawa zastrzeżone.</span>
    </div>
</footer>
<script is:inline>
(function() {
    const prefetched = new Set();
    const processed = new WeakSet();
    let timeout;

    function isSlowConnection() {
        if ("connection" in navigator) {
            const c = navigator.connection;
            return c.saveData || /2g/.test(c.effectiveType);
        }
        return false;
    }

    function prefetch(url) {
        url = url.replace(/#.*/, "");
        if (!navigator.onLine || isSlowConnection() || prefetched.has(url)) return;
        try {
            const u = new URL(url, location.href);
            if (location.origin !== u.origin) return;
            if (location.pathname === u.pathname && location.search === u.search) return;
        } catch { return; }

        prefetched.add(url);
        const link = document.createElement("link");
        link.rel = "prefetch";
        link.href = url;
        document.head.append(link);
    }

    function init() {
        for (const a of document.getElementsByTagName("a")) {
            if (processed.has(a) || a.tagName !== "A") continue;
            if (a.dataset.astroPrefetch === "false") continue;

            processed.add(a);
            a.addEventListener("mouseenter", () => {
                timeout = setTimeout(() => prefetch(a.href), 80);
            }, { passive: true });
            a.addEventListener("mouseleave", () => {
                clearTimeout(timeout);
            }, { passive: true });
        }
    }

    init();
    document.addEventListener("astro:page-load", init);
})();
</script>
