---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
			<article class="mx-auto md:w-1/2">
				<div>
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" class="rounded-xl shadow-lg w-full" />}
				</div>
				<h1 class="text-5xl mt-2">{title}</h1>
				<div class="text-gray-500">
					Opublikowano <FormattedDate date={pubDate} />
					{
						updatedDate && (
								<span>| Ostatnia aktualizacja <FormattedDate date={updatedDate} /></span>
						)
					}
				</div>

				<hr class="my-8"/>
				<div class="prose dark:prose-invert max-w-full">
					<slot />
				</div>
			</article>
</Layout>
